<div class="center jumbotron">
  <h1>RateMyAdvisor</h1>

  <%= image_tag("check-mark-md.png") %>
  <br>
  <p></p>
  <p></p>
  <%= link_to "Find an advisor!", find_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Rate an advisor!", new_review_path, class: "btn btn-lg btn-primary" %>
  <p></p>
  <p></p>

 

</div>
