<div style="background:transparent !important" class="center jumbotron">
  <h1>RateMyAdvisor</h1>

  <%= image_tag("Aplus.png") %>
  <br>
  <p></p>
  <p></p>
  <%= link_to "Find an advisor!", find_path, class: "btn btn-lg btn-custom" %>
  <%= link_to "Rate an advisor!", new_review_path, class: "btn btn-lg btn-custom" %>
  <p></p>
  <p></p>

 

</div>
