<h1>Search results</h1>

<ul class="results">
  <% @professors.each do |professor| %>
    <li>
      <%= link_to professor.first_name + " " + professor.last_name, professor %>, 
      <%= professor.netid %>, 
      <%= professor.department %>
    </li>
  <% end %>
  <br>
  <%= link_to "Add an advisor", new_review_path, class: "btn btn-custom" %>
</ul>
